# Specify is the mechanism is spatial or planar
.spatial

# Delta mechanism example which have 15 dof
top_part - R - link_top_1
top_part - R - link_top_2
top_part - R - link_top_3

link_top_1 - R - top_pivot_1
link_top_2 - R - top_pivot_2
link_top_3 - R - top_pivot_3

top_pivot_1 - S - bottom_right_1
top_pivot_1 - S - bottom_left_1
top_pivot_2 - S - bottom_right_2
top_pivot_2 - S - bottom_left_2
top_pivot_3 - S - bottom_right_3
top_pivot_3 - S - bottom_left_3

bottom_right_1 - S - bottom_pivot_1
bottom_left_1  - S - bottom_pivot_1
bottom_right_2 - S - bottom_pivot_2
bottom_left_2  - S - bottom_pivot_2
bottom_right_3 - S - bottom_pivot_3
bottom_left_3  - S - bottom_pivot_3

bottom_pivot_1 - R - bottom_part
bottom_pivot_2 - R - bottom_part
bottom_pivot_3 - R - bottom_part
